.animate-charcter
{
text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 62px;
	margin-top: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/****************************************************/
.clignotant {
  animation: clignotement 2s linear infinite;
}

@keyframes clignotement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color:rgba(214, 216, 216, 0.842); /* Black*/
  overflow-x: hidden;                   /* Disable horizontal scroll */
  transition: 0.5s;                      /* 0.5 second transition effect to slide in the sidebar */
  border-right: solid 1px black;
}


/* Position and style the close button (top right corner) */
.sidebar .closebtn 
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-top: 15px !important;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.checked {
  color: orange; /* stars rating*/
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition:margin-right .5s;  /*If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the 
sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 4px;}
  
}


/*form*/
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

.pure-form input[type="text"],
.pure-form input[type="email"] {
  width: 70%;
  margin-bottom: 15px;
}

/* Full-width input fields */
input[type=text], 
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 0.5px solid #4f4e4e;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
#lien{
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}




.wrapper{
  max-height: 220px;
  border: 1px solid white;
  display: flex;
  overflow-x: auto;
  width: 60em;
  margin-left: 9.5em;
  background-color: #333;
  margin: auto;

}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.wrapper .item{
  min-width: 200px;
  height: 200px;
  
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  text-align: center;
  background-color: #e7e7e7;
  margin-right: 2px;
  
}

.pure-form input[type="text"],
.pure-form input[type="email"] {
  width: 70%;
  margin-bottom: 15px;
}


#l1{
  width: 100%;
  height: 100%;
}

 .form-box .pure-button {
  background-color: #61B842;
  color: white;
  vertical-align: top;
  font-size: 85%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 4px;
  margin: 0.3em;
  height: 37px;
  justify-content: center;
}
.pure-form input[type] {
  margin: 0.3em auto;
  text-align: center;
  justify-content: center;
  width: 20em;
}


 #home{
width: 100%;
height: 100%;

 }

 #payment {
justify-items: right;
 }
 #pay{
  padding-top: 0.75em;
  width: 15em;
  justify-self: right;
 }
 
 
 #logo {
    width: 5em;
    height: fit-content;
}
@media (max-width: 5em) {
    #logo {
        width: 100%;
    }
}

#mycart {
    width: 6em;
    height: fit-content;
}
@media (max-width: 6em) {
    #mycart {
        width: 100%;
    }
}



  
 
  h2,h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    text-align: center;
    
   
  }
  
  p {
    line-height: 1.6em;
  }
  
  /*
   * -- Layout Styles --
   */
   .l-content {
    margin: 0 auto;
  }
  
  .l-box {
    padding: 0.5em 2em;
  }
  
  /*
   * -- MENU STYLES --
   * Make the menu have a very faint box-shadow.
   */
  .pure-menu {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .pure-menu-link {
    padding: 0.5em 0.7em;
  }
  
  /*
   * -- BANNER --
   * The top banner with the headings. By using a combination
   * of `display: table;` and `display: table-cell;`, we can
   * vertically center the text.
   */
  
  .banner {
    background: transparent
url(../img/morocco-banner.png)       0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  
    
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');
  
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
  }
  
  .banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: rgb(10, 9, 9);
    font-weight: 500;
    text-shadow: 0 1px 1px rgb(112, 110, 110);
  }
  

  #sbaner{
    
    height: 80%;
    width: 80%;
    margin-bottom: 10px;

  }
  /*
   * -- item TABLE WRAPPER --
   * This element wraps up all the item table elements
   */
  .item-tables,
  .information {
    max-width: 980px;
    margin: 0 auto;
  }
  .item-tables {
    margin-bottom: 3.125em;
    text-align: center;
  }
  
  /*
   * -- item TABLE  --
   * Every item table has the .item-table class
   */
  .item-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
  }
  
  /*
   * -- item TABLE HEADER COLORS --
   * Choose a different color based on the type of item table.
   */


  .item-table-header  {
   
    position: relative;
    text-align: center;
   
  }

  .product{
    position: absolute;
    letter-spacing: 0.20em;
	font-weight: bold;
    text-transform: capitalize;
    color: #000;
    left: 10%;
    right: 10%;
  }
  .product-image {
   max-width: 100%;
   max-height: 100%;
  
  }

  
  /*
   * -- item TABLE HEADER --
   * By default, a header is black/white, and has some styles for its <h2> name.
   */
  .item-table-header {
    background: #111;
    color: rgb(6, 5, 5);
    position:relative;
  }
  .item-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
  }
  
  /*
   * -- item TABLE PRICE --
   * Styles for the price and the corresponding <span>per month</span>
   */
  .item-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
  }
  .item-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(3, 3, 3, 0.5);
    *color: rgb(3, 3, 3);
  }
  
  /*
   * -- item TABLE LIST --
   * Each item table has a <ul> which is denoted by the .item-table-list class
   */
  .item-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /*
   * -- item TABLE LIST ELEMENTS --
   * Styles for the individual list elements within each item table
   */
  .item-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
  }
  
  /*
   * -- item TABLE BUTTON --
   * Styles for the "Choose" button at the bottom of a item table.
   * This inherits from Pure Button.
   */
  .button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
  }
  
  .information-head {
    color: black;
    font-weight: 500;
    font-family: 'Trebuchet MS';
  }

  #desc{
    font-family: 'Trebuchet MS';
    text-align: justify;
  }
  
  .footer {
    
    background: rgb(146, 145, 145);
    color: rgb(10, 10, 10);
   
  }
  .footer a {
    color: #ddd;
  }
  
  /*
   * -- TABLET MEDIA QUERIES --
   * On tablets, we want to slightly adjust the size of the banner
   * text and add some vertical space between the various item tables
   */
  @media (min-width: 767px) {
    .banner-head {
      font-size: 4em;
    }
    .item-table {
      margin-bottom: 0;
    }
  }
  
  /*
   * -- PHONE MEDIA QUERIES --
   * On phones, we want to reduce the height and font-size of the banner further
   */
  @media (min-width: 480px) {
    .banner {
      height: 400px;
    }
    .banner-head {
      font-size: 3em;
    }
  }