

 .form-box .pure-button {
  background-color: #61B842;
  color: white;
  vertical-align: top;
  font-size: 85%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 4px;
  margin: 0.3em;
  height: 37px;
  justify-content: center;
}
.pure-form input[type] {
  margin: 0.3em auto;
  text-align: center;
  justify-content: center;
  width: 20em;
}

#haut{
  background-image: url(img/img.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: cross-fade();
}


 #home{
width: 100%;
height: 100%;

 }

 #payment {
justify-items: right;
 }
 #pay{
  padding-top: 0.75em;
  width: 15em;
  justify-self: right;
 }
 
 
 #logo {
    width: 5em;
    height: fit-content;
}
@media (max-width: 5em) {
    #logo {
        width: 100%;
    }
}

#mycart {
    width: 6em;
    height: fit-content;
}
@media (max-width: 6em) {
    #mycart {
        width: 100%;
    }
}



  
  h2,
  h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
  }
  
  p {
    line-height: 1.6em;
  }
  
  /*
   * -- Layout Styles --*/
   */
  .l-content {
    margin: 0 auto;
  }
  
  .l-box {
    padding: 0.5em 2em;
  }
  
  /*
   * -- MENU STYLES --*/
  
  .pure-menu {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .pure-menu-link {
    padding: 0.5em 0.7em;
  }
  
  /*
   * -- BANNER --*/
  
  
  .banner {
    background: transparent
      url(img/morocco-banner.png)
      0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  
    
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');
  
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
  }
  
  .banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: rgb(10, 9, 9);
    font-weight: 500;
    text-shadow: 0 1px 1px rgb(112, 110, 110);
  }
  
  /*
   * -- ITEM TABLE WRAPPER --*/
 
  .pricing-tables,
  .information {
    max-width: 980px;
    margin: 0 auto;
  }
  .pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
  }
  
  /*
   * -- ITEM TABLE  --*/
  
  .pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
  }
  
  /*
   * -- ITEM TABLE HEADER COLORS --*/
  
  .pricing-table-free .pricing-table-header {
    
    background-image: url(img/hsira.jpg) ;
    background-size: cover;
    height: 14em;
    
  }

  .pricing-table-fr .pricing-table-header {
    
    background-image: url(img/cup.jpg) ;
    background-size: cover;
    height: 14em;
    
  }
  
  .pricing-table-boz .pricing-table-header {
    background-image: url(img/ARGAN.jpg) ;
    background-size: cover;
    height: 14em;
  }

  .pricing-table-biz .pricing-table-header {
    background-image: url(img/Air.jpg) ;
    background-size: cover;
    height: 14em;
  }

  .pricing-table-bizm .pricing-table-header {
    background-image: url(img/hh.jpg) ;
    background-size: cover;
    height: 14em;
  }
  
  .pricing-table-one .pricing-table-header {
    background-image: url(img/pouf.jpg) ;
    background-size: cover;
    height: 14em;
  }

  .pricing-table-enterprise .pricing-table-header {
    background-image: url(img/Poterie1.jpg) ;
    background-size: cover;
    height: 14em;
  }
  /*
   * -- PRICING TABLE HEADER --*/

  .pricing-table-header {
    background: #111;
    color: rgb(6, 5, 5);
    position:relative;
  }
  .pricing-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
  }
  
  /*
   * -- PRICING TABLE PRICE --*/

  .pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
  }
  .pricing-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(3, 3, 3, 0.5);
    *color: rgb(3, 3, 3);
  }
  
  /*
   * -- PRICING TABLE LIST --*/
  
  .pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /*
   * -- PRICING TABLE LIST ELEMENTS --
   * Styles for the individual list elements within each pricing table
   */
  .pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
  }
  
  /*
   * -- PRICING TABLE BUTTON --
   * Styles for the "Choose" button at the bottom of a pricing table.
   * This inherits from Pure Button.
   */
  .button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
  }
  
  .information-head {
    color: black;
    font-weight: 500;
  }
  
  .footer {
    
    background: #111;
    color: #888;
   
  }
  .footer a {
    color: #ddd;
  }
  
  /*
   * -- TABLET MEDIA QUERIES --
   * On tablets, we want to slightly adjust the size of the banner
   * text and add some vertical space between the various pricing tables
   */
  @media (min-width: 767px) {
    .banner-head {
      font-size: 4em;
    }
    .pricing-table {
      margin-bottom: 0;
    }
  }
  
  /*
   * -- PHONE MEDIA QUERIES --
   * On phones, we want to reduce the height and font-size of the banner further
   */
  @media (min-width: 480px) {
    .banner {
      height: 400px;
    }
    .banner-head {
      font-size: 3em;
    }
  }
